In [31]:
import os
import pandas as pd
years = [2015,2016,2017,2018, 2019, 2020, 2021, 2022, 2023, 2024]

cwd = os.getcwd()
directorios = []
data = pd.DataFrame()
for year in years:
    folder = os.path.join(cwd, str(year))
    for carpeta_raiz, subcarpetas, archivos in os.walk(folder):
        for archivo in archivos:
            if archivo.startswith(("t","internet_diario")):
                directorios.append([os.path.join(carpeta_raiz,archivo), os.path.basename(carpeta_raiz), archivo])
                try:
                    dt = pd.read_excel(os.path.join(carpeta_raiz,archivo), sheet_name="t")
                except:
                    dt = pd.read_excel(os.path.join(carpeta_raiz,archivo), sheet_name="Distribución en Pesos")
                
                columna_dias = dt.columns[0]
                dt = dt[dt[columna_dias].isin(range(1,32))]
                dt["periodo"] = os.path.basename(carpeta_raiz)
                
                data = pd.concat([data, dt],axis=0)
                
df = pd.DataFrame(directorios, columns=['Carpeta Raíz', 'Subcarpeta', 'Archivo'])

ValueError: Worksheet named 't' not found

In [27]:

data.reset_index(drop=True,inplace=True)
drop = data[data["Unnamed: 28"]==0].index

data.drop(drop,axis=0,inplace=True)
data["year"] = data["periodo"].str[-4:]
data["month"] = data["periodo"].str[:-4]
meses = {'enero':1, 'febrero':2, 'marzo':3, 'abril':4,
         'mayo':5, 'junio':6, 'julio':7, 'agosto':8,
         'septiembre':9, 'octubre':10, 'noviembre':11, 'diciembre':12}
data["date"] = data["Unnamed: 0"].astype(str) + "/" + data["month"].map(meses).astype(str) + "/" + data["year"].astype(str)
data["date"] = pd.to_datetime(data["date"], format="%d/%m/%Y")
data["date"] = data["date"].dt.strftime("%d/%m/%Y")
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,periodo,year,month,date
2,3,45205.761229,22670.341687,67876.102916,3800,375,475,0,0,4650,...,NaN,6390.556,NaN,2006.804221,NaN,82735.693032,abril2018,2018,abril,03/04/2018
3,4,36306.579884,22670.341687,58976.921572,0,0,0,0,0,0,...,NaN,6390.556,NaN,2340.250277,NaN,69907.727649,abril2018,2018,abril,04/04/2018
4,5,136520.748641,22670.341687,159191.090328,0,0,0,0,0,0,...,NaN,6390.556,NaN,6809.205903,NaN,186268.367734,abril2018,2018,abril,05/04/2018
8,9,84505.34436,45340.683375,129846.027735,0,0,0,0,0,0,...,NaN,12781.112,NaN,20710.092988,NaN,168682.804082,abril2018,2018,abril,09/04/2018
9,10,48100.91941,22670.341687,70771.261097,0,0,0,0,0,0,...,NaN,6390.556,NaN,0,NaN,78289.817763,abril2018,2018,abril,10/04/2018

In [28]:
columnas = ['day','Ley_26075_cfi','Ley_26075_finEdu','copa_bruta','Educacion','Posoco','Prosonu',
            'Hospitales','Minoridad','total_trasnfServ','a1','a2','a3','Ley_24699','Ley_23966_art30',
            'Ley_23906','Ley_23.966_iva','Ley_23966 _obras','Ley_23966_vial','Ley_23966_FONAVI','FdoDeseqFisc',
            'Ley_24.977','TOTALROC','a4','Comp_Ley 27429','a5','ffSolLey_27429','a6','Total_gral','periodo','year','month','date']
data.columns = columnas

In [29]:
data.to_excel("data.xlsx", index=False)